Repository AvacynLab/datacreek: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, pydocstyle

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: python
        additional_dependencies: ["black==24.4.2"]
        files: "\\.py$"
      - id: isort
        name: isort
        entry: isort --profile black
        language: python
        additional_dependencies: ["isort==5.13.2"]
        files: "\\.py$"
      - id: flake8
        name: flake8
        entry: flake8
        language: python
        additional_dependencies: ["flake8==7.0.0", "flake8-bandit"]
        files: "^(datacreek/analysis/|tests/property/)"
        exclude: ""
      - id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: python
        additional_dependencies: ["pydocstyle==6.3.0"]
        files: "^schemas/"
      - id: docstring-quality
        name: docstring-quality
        entry: python scripts/docstring_quality.py
        language: python
        additional_dependencies: ["interrogate==1.7.0"]
        pass_filenames: false
      - id: bandit
        name: bandit
        entry: bandit -x tests --skip B101,B110,B112,B404,B603,B607
        language: python
        additional_dependencies: ["bandit==1.7.8"]
      - id: interrogate
        name: interrogate
        entry: >-
          interrogate --fail-under=80 -e datacreek/api.py -e datacreek/db.py -e datacreek/pipelines.py -e datacreek/schemas.py -e datacreek/services.py -e datacreek/storage.py -e datacreek/tasks.py -e datacreek/config_models.py -e datacreek/utils datacreek
        language: python
        pass_filenames: false
        additional_dependencies: ["interrogate==1.5.0", "setuptools"]
      - id: radon-cc
        name: radon cyclomatic complexity
        entry: radon cc -s -n C datacreek
        language: python
        additional_dependencies: ["radon"]
        pass_filenames: false

Document bandit ignore rationale
  .pre-commit-config.yaml
  AGENTS.md
Due: none

Include new latency alert in Prometheus rules
  ops/prometheus_rules.yml
Due: none

Fix promtool test for latency alert
  ops/prometheus_rules_test.yml
Due: none

Add pillow to requirements for image tests
  requirements.txt
Due: none

fix optional torch import in whisper parser
  datacreek/parsers/whisper_audio_parser.py
Due: black, isort

Document optional imports and test skips
  AGENTS.md
  datacreek/analysis/monitoring.py
  datacreek/utils/__init__.py
  datacreek/utils/redis_pid.py
  tests/test_alert_rules.py
  tests/test_image_dedup.py
  tests/test_ingest.py
  tests/test_pgvector_export.py
Due: black, isort, flake8

Document formatting fix
  AGENTS.md
  datacreek/analysis/monitoring.py
  datacreek/utils/__init__.py
Due: black, isort, flake8

Fix formatting after pre-commit check
  AGENTS.md
Due: none

Add apply_async to Celery stub
  AGENTS.md
  datacreek/tasks.py
Due: black, isort

tests: ensure audio_vad import path
  tests/test_audio_vad.py
Due: black, isort

Fix syntax warnings and adjust coverage
  datacreek/analysis/generation.py
  datacreek/analysis/graphwave_cuda.py
  datacreek/analysis/hybrid_ann.py
  datacreek/analysis/hypergraph.py
  datacreek/analysis/sheaf.py
  datacreek/routers/explain_router.py
  datacreek/routers/vector_router.py
  datacreek/schemas.py
  scripts/run_changed_tests.sh
Due: black, isort, flake8

Revert coverage selection logic
  scripts/run_changed_tests.sh
Due: none

Add coverage tests for utils and reset agent tasks
  AGENTS.md
  tests/test_simple_utils.py
Due: black, isort

Add comprehensive utility tests
  AGENTS.md
  tests/test_more_utils.py
Due: black, isort

Document current coverage
  AGENTS.md
Due: none

Document repository coverage
  AGENTS.md
Due: none

Document overall coverage
  AGENTS.md
Due: none

Add lightweight utility tests
  AGENTS.md
  tests/test_backpressure_simple.py
  tests/test_checksum_utils.py
  tests/test_metrics_simple.py
  tests/test_rate_limit_simple.py
Due: black, isort

Add tests for text, Kafka queue, and progress utils
  AGENTS.md
  tests/test_kafka_queue_simple.py
  tests/test_progress_simple.py
  tests/test_text_simple.py
Due: black, isort

Record full coverage output
  AGENTS.md
Due: none

Add semantic chunk split test and update coverage log
  AGENTS.md
  tests/test_more_utils.py
Due: black, isort

Add coverage tests for batch utilities
  AGENTS.md
  tests/test_batch_simple.py
Due: black, isort

Improve package init coverage
  AGENTS.md
  datacreek/__init__.py
  tests/test_init_simple.py
Due: black, isort

Ignore heavy analysis init for coverage
  AGENTS.md
  datacreek/analysis/__init__.py
Due: black, isort, flake8

Record latest coverage run
  AGENTS.md
Due: none

Add dynamic utils tests and log coverage
  AGENTS.md
  tests/test_utils_init_simple.py
Due: black, isort

Add tests for fact and entity extraction
  AGENTS.md
  tests/test_fact_entity_simple.py
Due: black, isort

Add fallback test for git commit hash
  AGENTS.md
  tests/test_simple_utils.py
Due: black, isort

Reduce __init__ size via external export list
  AGENTS.md
  datacreek/__init__.py
  datacreek/_all_names.txt
Due: black, isort

Improve autotune coverage
  AGENTS.md
  datacreek/analysis/autotune.py
  tests/test_autotune_simple.py
  tests/test_autotune_state.py
Due: black, isort, flake8

Add coverage for chebyshev_diag
  AGENTS.md
  datacreek/analysis/chebyshev_diag.py
  tests/test_chebyshev_diag_simple.py
Due: black, isort, flake8

Add compression tests and update coverage
  AGENTS.md
  datacreek/analysis/compression.py
  tests/test_compression_simple.py
Due: black, isort, flake8

Add coverage tests for explain_viz and filtering
  AGENTS.md
  tests/test_explain_viz_simple.py
  tests/test_filtering_simple.py
Due: black, isort

Add coverage stubs and tests
  datacreek/analysis/fractal.py
  tests/test_fractal_simple_utils.py
Due: black, isort, flake8

Add generation module tests
  AGENTS.md
  tests/test_generation_simple.py
Due: black, isort

Add governance coverage
  AGENTS.md
  tests/test_governance_simple.py
Due: black, isort

Improve fractal coverage
  AGENTS.md
  datacreek/analysis/fractal.py
  tests/test_fractal_simple_utils.py
Due: black, isort, flake8

Add tests for graphwave bandwidth
  AGENTS.md
  tests/test_graphwave_bandwidth_simple.py
Due: black, isort

Add coverage tests for cache utilities
  AGENTS.md
  datacreek/utils/cache.py
  tests/test_cache_simple.py
Due: black, isort

Update coverage logs
  .gitignore
  AGENTS.md
  coverage.log
  datacreek/utils/config.py
  tests/test_config_simple.py
  tests/test_utils_init_simple.py
Due: black, isort
