Repository AvacynLab/datacreek: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, pydocstyle

black:
  name: black
  entry: black
  language: python
  additional_dependencies:
  - black==24.4.2

isort:
  name: isort
  entry: isort --profile black
  language: python
  additional_dependencies:
  - isort==5.13.2

flake8:
  name: flake8
  entry: flake8
  language: python
  additional_dependencies:
  - flake8==7.0.0
  - flake8-bandit

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: python
  additional_dependencies:
  - pydocstyle==6.3.0

Format hypergraph conv
  datacreek/analysis/hypergraph_conv.py
  tests/heavy/test_hypergraph_conv.py
Due: black, isort, flake8

docs: record verification of v1.4-alpha tasks
  AGENTS.md
  CHANGELOG.md
  README.md
  docs/grafana/sheaf_hyper_coherence.jsonnet
  ops/prometheus_rules.yml
  ops/prometheus_rules_test.yml
  tests/fixtures/bench_tda_vectorize.json
  tests/heavy/test_tda_vectorize.py
Due: black, isort

docs: log checklist verification
  AGENTS.md
  README.md
  benchmarks/bench_datasets.json
  benchmarks/bench_unsloth.json
  cli/__init__.py
  cli/train.py
  docs/train_pipeline.md
  tests/integration/test_auto_feedback.py
  tests/integration/test_cli_heavy.py
  tests/unit/test_augmenter.py
  tests/unit/test_bench_datasets.py
  tests/unit/test_bench_unsloth.py
  tests/unit/test_cli_train.py
  tests/unit/test_curriculum_dataloader.py
  tests/unit/test_monitoring.py
  tests/unit/test_task_detector.py
  tests/unit/test_trainer_factory.py
  tests/unit/test_unsloth_loader.py
  training/__init__.py
  training/augmenter.py
  training/auto_feedback.py
  training/curriculum_dataloader.py
  training/monitoring.py
  training/task_detector.py
  training/trainer_factory.py
  training/unsloth_loader.py
Due: black, isort

docs: log checklist verification
  .lakefs/schema.yaml
  .pre-commit-config.yaml
  AGENTS.md
  datacreek/analysis/__init__.py
  datacreek/analysis/fractal.py
  datacreek/analysis/hypergraph_conv.py
  datacreek/analysis/mapper.py
  datacreek/analysis/sheaf_hyper_bridge.py
  datacreek/analysis/tda_vectorize.py
  datacreek/routers/explain_router.py
  datacreek/utils/__init__.py
  datacreek/utils/dataset_export.py
  datacreek/utils/quality_metrics.py
  examples/fine_tune_QA.ipynb
  ingest/__init__.py
  ingest/safety_filter.py
  scripts/check_schema_break.py
  tests/property/test_reward_fn_properties.py
  tests/unit/test_augmenter.py
  tests/unit/test_checkpoint_pruner.py
  tests/unit/test_dataset_export.py
  tests/unit/test_explain_router.py
  tests/unit/test_fractal_dim_embedding.py
  tests/unit/test_hypergraph_conv.py
  tests/unit/test_mapper.py
  tests/unit/test_monitoring.py
  tests/unit/test_quality_metrics.py
  tests/unit/test_reward_fn.py
  tests/unit/test_safety_filter.py
  tests/unit/test_schema_guard.py
  tests/unit/test_sheaf_hyper_bridge.py
  tests/unit/test_tda_vectorize.py
  training/__init__.py
  training/augmenter.py
  training/monitoring.py
  training/reward_fn.py
Due: black, isort, flake8

style: format files after pre-commit
  datacreek/analysis/__init__.py
  datacreek/analysis/mapper.py
  datacreek/analysis/sheaf_hyper_bridge.py
  datacreek/utils/__init__.py
  scripts/check_schema_break.py
  tests/property/test_reward_fn_properties.py
  tests/unit/test_augmenter.py
  tests/unit/test_dataset_export.py
  tests/unit/test_explain_router.py
  tests/unit/test_fractal_dim_embedding.py
  tests/unit/test_hypergraph_conv.py
  tests/unit/test_tda_vectorize.py
  training/monitoring.py
  training/reward_fn.py
Due: black, isort, flake8

chore: document v2.1 verification
  AGENTS.md
  datacreek/analysis/__init__.py
  datacreek/analysis/mapper.py
  datacreek/analysis/monitoring.py
  datacreek/utils/__init__.py
  datacreek/utils/audio_validator.py
  datacreek/utils/dataset_export.py
  tests/integration/test_mapper_full.py
  tests/unit/test_audio_validator.py
  tests/unit/test_callbacks.py
  tests/unit/test_dataset_export.py
  tests/unit/test_explain_router.py
  tests/unit/test_mapper.py
  training/__init__.py
  training/callbacks.py
Due: black, isort, flake8

feat: implement ingest pipeline
  .pre-commit-config.yaml
  AGENTS.md
  benchmarks/spectral_perf.json
  cron/cleanup_checkpoints.py
  cron/sheaf_repair.py
  datacreek/analysis/__init__.py
  datacreek/analysis/drift.py
  datacreek/analysis/hypergraph_conv.py
  datacreek/analysis/monitoring.py
  datacreek/routers/explain_router.py
  datacreek/utils/__init__.py
  datacreek/utils/dataset_export.py
  datacreek/utils/lang_detect.py
  dataset/__init__.py
  dataset/sampler.py
  ingest/pipeline.py
  ingest/safety_guard.py
  ops/prometheus_rules.yml
  scripts/merge_lora_and_quantize.py
  scripts/validate_template_sha.py
  templates/base_prompt.jinja
  tests/unit/test_checkpoint_cleanup.py
  tests/unit/test_dataset_export.py
  tests/unit/test_drift.py
  tests/unit/test_explain_router.py
  tests/unit/test_hypergraph_conv.py
  tests/unit/test_hypergraph_conv_unit.py
  tests/unit/test_ingest_pipeline.py
  tests/unit/test_lang_detect.py
  tests/unit/test_quant_utils.py
  tests/unit/test_safety_guard.py
  tests/unit/test_sampler.py
  tests/unit/test_sheaf_repair.py
  tests/unit/test_spectral_bench.py
  tests/unit/test_template_sha.py
  training/quant_utils.py
Due: black, isort, flake8

chore: mark deterministic RNG in sampler
  AGENTS.md
  dataset/sampler.py
Due: black, isort

Remove langchain dependency to unblock CI
  requirements.txt
Due: none

chore: pin minimal dependencies
  requirements-ci.txt
  requirements.txt
Due: none

Suppress Bandit warning for canary random
  serving/ray_serve.py
Due: black, isort

format dag and tests
  AGENTS.md
  dags/datacreek_finetune.py
  tests/unit/test_ray_serve.py
Due: black, isort

Add SQLAlchemy dependency for pipeline tests
  requirements.txt
Due: none

fix: include pillow runtime dependency
  requirements.txt
Due: none

test: ensure local packages importable
  AGENTS.md
  metrics_prometheus/gpu_billing.py
  tests/conftest.py
  tests/unit/test_gpu_billing.py
Due: black, isort

chore: document verification of embedding cpu metric
  AGENTS.md
  datacreek/analysis/embedding.py
  datacreek/drift.py
  datacreek/gpu_quota_webhook.py
  datacreek/hypergraph.py
  datacreek/neo4j_fabric.py
  datacreek/smart_patch.py
  ingest/ingest_filter.py
  k8s/cron/gc.yaml
  metrics_prometheus/__init__.py
  metrics_prometheus/cpu_billing.py
  scripts/train_alpha.py
  serving/ray_serve.py
  tests/test_drift_ewma.py
  tests/test_embedding_cpu_metrics.py
  tests/test_gc_cron.py
  tests/test_gpu_quota_webhook.py
  tests/test_hypergraph_laplacian.py
  tests/test_hypergraph_watermark.py
  tests/test_ingest_filter_service.py
  tests/test_neo4j_schema.py
  tests/test_quant_utils.py
  tests/test_smart_patch.py
  tests/test_train_alpha.py
  tests/unit/test_cpu_billing.py
  tests/unit/test_ray_serve.py
  training/quant_utils.py
Due: black, isort, flake8

chore: verify v3.1 backlog implementation
  AGENTS.md
  config/hyper_weights.json
  datacreek/analysis/embedding.py
  datacreek/drift.py
  datacreek/gpu_quota_webhook.py
  datacreek/hypergraph.py
  ingest-filter/go.mod
  ingest-filter/go.sum
  ingest-filter/main.go
  ingest-filter/main_test.go
  scripts/sheaf_repair.py
  tests/test_drift_ewma.py
  tests/test_embedding_cpu_metrics.py
  tests/test_gpu_quota_webhook.py
  tests/test_hypergraph_typed.py
  tests/test_hypergraph_watermark.py
  tests/test_quant_utils.py
  tests/test_sheaf_repair_script.py
  training/quant_utils.py
Due: black, isort, flake8

Add comprehensive README for datacreek directory
  datacreek/README.md
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: ^(datacreek/analysis/|tests/property/)
  pydocstyle: any of: ^schemas/
