Repository AvacynLab/datacreek: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, pydocstyle

black:
  name: black
  entry: black
  language: python
  additional_dependencies:
  - black==24.4.2

isort:
  name: isort
  entry: isort --profile black
  language: python
  additional_dependencies:
  - isort==5.13.2

flake8:
  name: flake8
  entry: flake8
  language: python
  additional_dependencies:
  - flake8==7.0.0
  - flake8-bandit

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: python
  additional_dependencies:
  - pydocstyle==6.3.0

Add config util coverage tests
  AGENTS.md
  coverage.log
  tests/test_config_additional.py
Due: black, isort

Add comprehensive curation agent tests
  AGENTS.md
  tests/test_curation_agent.py
Due: black, isort

Fix progress stubs and update coverage
  AGENTS.md
  datacreek/utils/__init__.py
Due: black, isort

Add coverage run logs and update tasks
  AGENTS.md
  datacreek/utils/emotion.py
  tests/test_emotion_simple.py
Due: black, isort

Add format converter tests
  AGENTS.md
  tests/test_format_converter_simple.py
Due: black, isort

Improve monitoring coverage and test runner
  AGENTS.md
  coverage.log
  scripts/run_changed_tests.sh
  tests/test_monitoring_simple.py
Due: black, isort

Update coverage logs after ensuring curation_agent fully tested
  AGENTS.md
  coverage.log
Due: none

Add coverage tests for index utilities
  AGENTS.md
  coverage.log
  tests/test_index_simple.py
Due: black, isort

Add tests for information module
  AGENTS.md
  coverage.log
  scripts/run_changed_tests.sh
  tests/test_information_simple.py
Due: black, isort

Fix coverage script to track modified modules
  scripts/run_changed_tests.sh
Due: none

Add coverage for graphwave_cuda
  AGENTS.md
  coverage.log
  datacreek/analysis/graphwave_cuda.py
  tests/test_graphwave_cuda_simple.py
Due: black, isort, flake8

Add tests for hybrid ANN helpers
  AGENTS.md
  coverage.log
  datacreek/analysis/hybrid_ann.py
  tests/test_hybrid_ann_simple.py
Due: black, isort, flake8

Add coverage tests for graph_text utilities
  AGENTS.md
  coverage.log
  tests/test_graph_text_simple.py
Due: black, isort

Add tests for hypergraph utilities
  AGENTS.md
  coverage.log
  tests/test_hypergraph_simple.py
Due: black, isort

Add tests for image captioning utilities
  AGENTS.md
  coverage.log
  datacreek/utils/image_captioning.py
  tests/test_image_captioning_simple.py
Due: black, isort

Add image dedup coverage
  AGENTS.md
  coverage.log
Due: none

Increase rate_limit coverage
  AGENTS.md
  coverage.log
  tests/test_rate_limit_simple.py
Due: black, isort

Add eviction log tests
  AGENTS.md
  coverage.log
  tests/test_eviction_log_simple.py
Due: black, isort

Add redis_pid tests and update coverage logs
  AGENTS.md
  coverage.log
  datacreek/analysis/fractal.py
  datacreek/api.py
  datacreek/utils/llm_processing.py
  tests/test_api_simple.py
  tests/test_array_api_simple.py
  tests/test_audio_vad_simple.py
  tests/test_backends_simple.py
  tests/test_build_dataset_simple.py
  tests/test_chebyshev_diag_simple.py
  tests/test_checksum_simple.py
  tests/test_cli_simple.py
  tests/test_export_prompts_simple.py
  tests/test_fractal_entropy.py
  tests/test_fractal_simple.py
  tests/test_fractal_simple_extra.py
  tests/test_fractal_simple_utils.py
  tests/test_gitinfo_simple.py
  tests/test_image_dedup.py
  tests/test_information_simple.py
  tests/test_ingestion_simple.py
  tests/test_llm_processing_simple.py
  tests/test_mapper_simple.py
  tests/test_modality_simple.py
  tests/test_multiview_simple.py
  tests/test_neo4j_breaker_simple.py
  tests/test_node2vec_tuning_simple.py
  tests/test_nprobe_tuning_simple.py
  tests/test_poincare_recentering_simple.py
  tests/test_privacy_simple.py
  tests/test_redis_helpers_simple.py
  tests/test_redis_pid_simple_extra.py
  tests/test_rollback_simple.py
  tests/test_sheaf_extra_simple.py
  tests/test_sheaf_simple.py
  tests/test_symmetry_simple.py
  tests/test_tpl_incremental_simple.py
  tests/test_tpl_simple_extra.py
  tests/test_whisper_batch_simple.py
Due: black, isort, flake8

Add runners coverage and update logs
  .coveragerc
  AGENTS.md
  coverage.log
  datacreek/core/create.py
  datacreek/core/dataset.py
  datacreek/core/dataset_full.py
  datacreek/core/dataset_light.py
  tests/conftest.py
  tests/test_appcontext_simple.py
  tests/test_chunking_simple.py
  tests/test_cleanup_simple.py
  tests/test_core_init_simple.py
  tests/test_create_simple_extra.py
  tests/test_curate_simple_extra.py
  tests/test_dataset_simple_extra.py
  tests/test_export_prompts_simple.py
  tests/test_fractal_core_simple.py
  tests/test_nprobe_tuning_simple.py
  tests/test_retrieval_simple.py
  tests/test_runners_simple.py
  tests/test_self_instruct_simple.py
  tests/test_text_additional.py
  tests/test_text_extended.py
  tests/test_toolformer_simple.py
  tests/test_units.py
Due: black, isort

Add heavy tests for batch utils
  AGENTS.md
  coverage.log
  tests/heavy/test_batch_utils_heavy.py
  tests/heavy/test_config_utils_heavy.py
Due: black, isort

Add heavy tests for LLMClient and update coverage
  AGENTS.md
  coverage.log
  datacreek/config/schema.py
  datacreek/config_models.py
  datacreek/utils/config.py
  requirements-ci.txt
  run_cov.sh
  tests/heavy/test_llm_client_heavy.py
Due: black, isort

Fix precommit and unit tests
  datacreek/config/__init__.py
  datacreek/generators/__init__.py
  datacreek/security/__init__.py
  datacreek/templates/__init__.py
  schemas/__init__.py
Due: black, isort, pydocstyle

docs: reset AGENTS checklist
  AGENTS.md
Due: none

Reset AGENTS checklist
  AGENTS.md
Due: none

Fix lint errors and add missing docstrings
  datacreek/tasks.py
  datacreek/utils/image_quality.py
  datacreek/utils/kafka_queue.py
Due: black, isort

docs: restore v1.3 checklist
  AGENTS.md
Due: none

Update CI pipeline and tests
  .github/workflows/ci.yml
  AGENTS.md
  scripts/run_changed_tests.sh
  tests/unit/test_ci_scripts.py
Due: black, isort

Fix alert test start time
  ops/prometheus_rules_test.yml
Due: none

Fix CI path for E2E pipeline test
  .github/workflows/ci.yml
Due: none

Fix e2e pipeline test for light dataset
  tests/e2e/test_pipeline_e2e.py
Due: black, isort

Verify checklist implementation
  AGENTS.md
  datacreek/analysis/monitoring.py
  datacreek/tasks.py
  datacreek/utils/__init__.py
  datacreek/utils/quality_metrics.py
  datacreek/utils/schema_evolution.py
  tests/integration/test_ingest_autofill.py
  tests/integration/test_ingest_validation.py
  tests/unit/test_quality_metrics.py
  tests/unit/test_schema_evolution.py
Due: black, isort, flake8

chore: record roadmap verification
  AGENTS.md
  datacreek/analysis/__init__.py
  datacreek/analysis/fractal.py
  datacreek/analysis/hyp_embed.py
  datacreek/analysis/hypergraph_conv.py
  datacreek/analysis/mapper.py
  datacreek/analysis/monitoring.py
  datacreek/analysis/sheaf_hyper_bridge.py
  datacreek/analysis/tda_fast.py
  datacreek/analysis/tda_vectorize.py
  datacreek/core/dataset_full.py
  datacreek/core/knowledge_graph.py
  migrations/2025-07-fractal_index.cypher
  tests/heavy/test_hgcn.py
  tests/heavy/test_hyp_embed.py
  tests/heavy/test_hyp_embed_dataset.py
  tests/heavy/test_hypergraph_conv.py
  tests/heavy/test_tda_vectorize.py
  tests/integration/test_mapper_full.py
  tests/property/test_tda_properties.py
  tests/unit/test_betti_curve_export.py
  tests/unit/test_fp8_recall.py
  tests/unit/test_persistence_cache.py
  tests/unit/test_sheaf_hyper_bridge.py
  tests/unit/test_tda_fast.py
Due: black, isort, flake8

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: ^(datacreek/analysis/|tests/property/)
  pydocstyle: any of: ^schemas/
